.about {
  background: linear-gradient(0deg, #e9eaf9 0%, #f5f5ff 100%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 36px 0;

  @media screen and (min-width: 1400px) {
    padding: 48px 0;
  }
}

.about__container {
  position: relative;
}

.about__title {
  margin-bottom: 24px;

  @media screen and (min-width: 1400px) {
    margin-bottom: 36px;
  }
}

.about__img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  @media screen and (min-width: 900px) {
    width: 332px;
    margin-bottom: 0;
    position: absolute;
    top: 48px;
    right: 0;
  }
}

.about__text:nth-of-type(1) {
  margin-bottom: 18px;
}
.about__text:nth-of-type(2) {
  margin-bottom: 24px;
  @media screen and (min-width: 900px) {
    margin-bottom: 36px;
  }
}

.about__text {
  @media screen and (min-width: 900px) {
    width: 60%;
  }
  @media screen and (min-width: 1400px) {
    width: 70%;
  }
}

.btn {
  cursor: pointer;
  display: block;
  width: 223px;
  height: 49px;
  border-radius: 8px;
  margin-right: auto;
  background-color: var(--btn-bg-color);
  color: var(--secondary-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @media screen and (min-width: 1400px) {
    width: 249px;
    height: 53px;
    font-size: 21px;
  }
}

.btn__arrow {
  width: 24px;
  height: 24px;
}
