.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fffffffd;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, #e9eaf9 0%, #f5f5ff 100%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  height: 607px;
  width: 100%;
  min-width: 320px;
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 900px) {
    min-width: 850px;
    max-width: 850px;
  }
  @media screen and (min-width: 1400px) {
    height: 453px;
    min-width: 1400px;
    max-width: 1400px;
    flex-direction: row;
  }
}

.modal__img {
  width: 90px;
  height: 90px;
}

.modal__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: var(--third-color);
  @media screen and (min-width: 1400px) {
    font-size: 24px;
  }
}
