.request {
  padding: 36px 0 66px;
  background: linear-gradient(0deg, #e9eaf9 0%, #f5f5ff 100%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 617px;

  @media screen and (min-width: 1400px) {
    padding: 48px 0 144px;
    background-position: top 0 left 50%;
    background-size: 1400px 448px;
  }
}

.request__title {
  margin-bottom: 36px;
  @media screen and (min-width: 1400px) {
    text-align: center;
    margin-bottom: 48px;
  }
}

.request__text {
  margin-bottom: 36px;
  @media screen and (min-width: 1400px) {
    text-align: center;
    width: 1020px;
    margin: 0 auto 48px;
  }
}
